<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Test</title>
</head>
<body>
<input id="file-input" type="file">
<button id="send-file" onclick="send()">Send file</button>
</body>
<script>
        function send() {
            console.log(document.getElementById('file-input').files);

            var xhr = new XMLHttpRequest();
            var url =  'https://powerful-river-49926.herokuapp.com/';
            var body = document.getElementById('file-input').files;

            xhr.open("POST", url, true);
            xhr.setRequestHeader('Content-Type', 'application/x-www-form-urlencoded');
            xhr.onreadystatechange = function() {//Call a function when the state changes.
                if(xhr.readyState == 4 && xhr.status == 200) {
                    console.log(xhr.responseText);
                }
            }
            xhr.send(body);
        }
</script>
</html>